<h1>Listing Questions</h1>
  <div class="container">
  <%= link_to 'New Question', new_question_path, :class=>"button one column" %>
</div>
<div class="container brown">
  <div class="sixteen columns">
    <div class="three columns">
      <h3>Title</h3>
    </div>
    <div class="nine columns">
      <h3>Text</h3>
    </div>
    <div class="three columns">
      <h3>Buttons</h3>
    </div>
  </div>
 
  <% @questions.each do |question| %>
    <div class="sixteen columns">
      <div class="three columns">
        <%= question.body %>
      </div>
      <div class="nine columns">
        <%= question.answer %>
      </div>
      <div class="one column">
        <%= link_to 'Show', question_path(question), :class=>"button" %>
      </div>
      <div class="one column">
        <%= link_to 'Edit', edit_question_path(question), :class=>"button" %>
      </div>
      <div class="one column">
        <%= link_to 'Destroy', question_path(question), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button" %>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="three columns">
        <%= question.option1 %>
      </div>
      <div class="three columns">
        <%= question.option2 %>
      </div>
      <div class="three columns">
        <%= question.option3 %>
      </div>
      <div class="three columns">
        <%= question.option4 %>
      </div>
      <div class="three columns">
        <%= question.option5 %>
      </div>
    </div>
    &nbsp;
  <% end %>
</div>
