<h1>Listing articles</h1>
 
<%= link_to 'New article', new_article_path %>

<div class="container brown">
  <div class="three columns">
    <h3>Title</h3>
  </div>
  <div class="ten columns">
    <h3>Text</h3>
  </div>
  <div class="three columns">
    <h3>Buttons</h3>
  </div>
 
  <% @articles.each do |article| %>
    <div class="three columns">
      <%= article.title %>
    </div>
    <div class="ten columns">
      <%= article.text %>
    </div>
    <div class="one column">
      <%= link_to 'Show', article_path(article) %>
    </div>
    <div class="one column">
      <%= link_to 'Edit', edit_article_path(article) %>
    </div>
    <div class="one column">
      <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
