<div class="container">
	<h1>This is the Site</h1>
	<div class="three columns alpha brown">
		<div class="menu_margin">
			<h2>Menu</h2>
			<hr>

			· <%= link_to 'Blog', controller: 'articles' %><br>
			· <%= link_to 'Multiple Choice Test Page', '/multiplechoice' %><br>
			· <%= link_to 'Game Start Page', controller: 'games' %><br>
			· <%= link_to 'Pokemon Quiz LITE', '/quiz_lite' %><br>
			· <%= link_to 'Catch Rate Calculator', '/catch_rates/new' %><br>
			· Menu Item 6<br>
			· Menu Item 7<br>
			· Menu Item 8
		</div>
	</div>
</div>