<div class="container">
	<h1>Multiple Choice Test Page</h1>
	<div class="ten columns offset-by-three menu_margin">
		<div class="brown">
			<div class="menu_margin">
				<% @question = Question.offset(rand(Question.count)).first %>
				<h2><%= @question.body %></h2>
				<hr>
				<div class="right">
					<p>
						Sources: 
						<% @question.sources.each do |source| %>
							<%= source.name %>
						<% end %>
					</p>
				</div>
				<div>
					
					<%= radio_button_tag(:answer, "A") %><%= @question.option1 %><br />
					
					<%= radio_button_tag(:answer, "B") %><%= @question.option2 %><br />
					
					<%= radio_button_tag(:answer, "C") %><%= @question.option3 %><br />
					
					<%= radio_button_tag(:answer, "D") %><%= @question.option4 %><br />
					
					<%= radio_button_tag(:answer, "E") %><%= @question.option5 %>
					<div style="clear: left;"></div>
				</div>
			</div>
		</div>
	</div>
</div>