<div class="container">
	<h1>Multiple Choice Test Page</h1>
	<div class="ten columns offset-by-three menu_margin">
		<div class="brown">
			<div class="menu_margin">
				<% @question = Question.offset(rand(Question.count)).first %>
				<h2><%= @question.body %></h2>
				<hr>
				<div class="right">
					<p>
						Sources: 
						<% @question.sources.each do |source| %>
							<%= source.name %>
						<% end %>
					</p>
				</div>
				<div>
					
					<%= radio_button_tag(:answer, "A") %><%= label("A", @question.option1) %>
					
					<%= radio_button_tag(:answer, "B") %><%= label("B", @question.option2) %>
					
					<%= radio_button_tag(:answer, "C") %><%= label("C", @question.option3) %>
					
					<%= radio_button_tag(:answer, "D") %><%= label("D", @question.option4) %>
					
					<%= radio_button_tag(:answer, "E") %><%= label("E", @question.option5) %>
					<div style="clear: left;"></div>
				</div>
			</div>
		</div>
	</div>
</div>