<div class="container">
	<h1>Pokemon Quiz LITE</h1>
	<div class="three columns">
		<div class="alpha brown">
			<div class="menu_margin">
				<h2>Menu</h2>
				<hr>
				· <%= link_to 'Blog', controller: 'articles' %><br>
				· <%= link_to 'Multiple Choice Test Page', '/multiplechoice' %><br>
				· <%= link_to 'Game Start Page', controller: 'games' %><br>
				· <%= link_to 'Pokemon Quiz LITE', '/quiz_lite' %><br>
				· <%= link_to 'Catch Rate Calculator', '/catch_rates/new' %><br>
				· Menu Item 6<br>
				· Menu Item 7<br>
				· Menu Item 8<br>
				<br>
				· <%= link_to 'Home', root_path %>
			</div>
		</div>
	</div>
	<div class="ten columns menu_margin">
		<div class="brown">
			<div class="menu_margin">
				<% @question = Question.where(type_id: 1).offset(rand(Question.where(type_id: 1).count)).first %>
				<h2><%= @question.body %></h2>
				<hr>
				<div class="five columns">
					<p>
						Question ID: 
						<%= @question.id %>
					</p>
				</div>
				<div class="right">
					<p>
						Sources: 
						<% @question.sources.each do |source| %>
							<%= source.name %>
						<% end %>
					</p>
				</div>
				<div>
					<%= radio_button_tag(:answer, "A") %><%= @question.option1 %><br />
					
					<%= radio_button_tag(:answer, "B") %><%= @question.option2 %><br />
					
					<%= radio_button_tag(:answer, "C") %><%= @question.option3 %><br />
					
					<%= radio_button_tag(:answer, "D") %><%= @question.option4 %><br />
					
					<%= radio_button_tag(:answer, "E") %><%= @question.option5 %>
					<div style="clear: left;"></div>
				</div>
			</div>
			<style>.answer_button{ display:block } </style>
			<div class="answer_button menu_margin center" id="answer_button">
				<button id="toggle_button" onclick="change_text()">Check Answer!</button>
			</div>
			<style>.answer{ display:none } </style>
			<div class="answer menu_margin center" id="answer" style="color: red">
				<%= link_to "Next Question!", '/quiz_lite', class: 'button' %>
				<p style="font-size: 200%">The correct answer is: <%= @question.answer %></p>

				<div class="correct" id="correct" style="display: none">
					<p style="font-size: 200%">CONGRATULATIONS! YOU ARE RIGHT!</p>
				</div>
				<div class="incorrect" id="incorrect" style="display: none">
					<p style="font-size: 200%">SORRY! YOU ARE WRONG!</p>
				</div>
				</br>
			</div>
		</div>
	</div>
</div>

<script>
function change_text() {
    var button = document.getElementById('toggle_button');

	document.getElementById("answer_A").disabled = true;
    document.getElementById("answer_B").disabled = true;
    document.getElementById("answer_C").disabled = true;
    document.getElementById("answer_D").disabled = true;
    document.getElementById("answer_E").disabled = true;
    document.getElementById('answer_button').style.display = 'none'
    document.getElementById('answer').style.display = 'block'
    var right_answer = '<%= @question.answer %>';
	var answer = document.querySelector('input[name = "answer"]:checked');
	if (answer) {
		answer = answer.value
	}
	if (answer === right_answer) {
		document.getElementById('answer').style.color = '#00FF00'
		document.getElementById('correct').style.display = 'block'
	}
	else {
		document.getElementById('incorrect').style.display = 'block'
	}
}
</script>
