<%= form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container class">
    <div class="eight columns offset-by-four">
      <p>
        <h5> Number of Questions </h5>
        <%= f.number_field :question_count, :size => 800 %>
      </p>



      <p>
        <% Type.all.each do |type| %>
          <%= check_box_tag "game[type_ids][]", type.id, @game.types.include?(type) %>
          <%= type.name %>&nbsp;&nbsp;
        <% end %>
      </p>

      <p>
        <% Source.all.each do |source| %>
          <%= check_box_tag "game[source_ids][]", source.id, @game.sources.include?(source) %>
          <%= source.name %>&nbsp;&nbsp;
        <% end %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    </div>
  </div>
<% end %>
